
obj/Release/netcoreapp3.1/PongGame.assets.cache
obj/Release/netcoreapp3.1/PongGame.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.1/PongGame.AssemblyInfo.cs
obj/project.nuget.cache
obj/project.assets.json
obj/PongGame.csproj.nuget.g.targets
obj/PongGame.csproj.nuget.g.props
obj/PongGame.csproj.nuget.dgspec.json
obj/PongGame.csproj.nuget.cache
obj/Debug/netcoreapp3.1/PongGame.pdb
obj/Debug/netcoreapp3.1/PongGame.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/PongGame.exe
obj/Debug/netcoreapp3.1/PongGame.dll
obj/Debug/netcoreapp3.1/PongGame.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/PongGame.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/PongGame.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/PongGame.assets.cache
obj/Debug/netcoreapp3.1/PongGame.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/PongGame.AssemblyInfo.cs
obj/.DS_Store
.vs/PongGame/xs/project-cache/PongGame-Debug.json
.DS_Store
.vs/PongGame/xs/UserPrefs.xml
